<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opencloud.device.mapper.IotDeviceMapper">
    <resultMap id="BaseResultMap" type="com.opencloud.device.entity.IotDevice">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="device_id" property="deviceId" jdbcType="BIGINT"/>
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT"/>
        <result column="distribu_id" property="distribuId" jdbcType="BIGINT"/>
        <result column="device_name" property="deviceName" jdbcType="VARCHAR"/>
        <result column="device_ip" property="deviceIp" jdbcType="VARCHAR"/>
        <result column="device_sn" property="deviceSn" jdbcType="VARCHAR"/>
        <result column="protocol" property="protocol" jdbcType="VARCHAR"/>
        <result column="online" property="online" jdbcType="TINYINT"/>
        <result column="secrecy_level" property="secrecyLevel" jdbcType="VARCHAR"/>
        <result column="tags" property="tags" jdbcType="VARCHAR"/>
        <result column="lat" property="lat" jdbcType="DOUBLE"/>
        <result column="lon" property="lon" jdbcType="DOUBLE"/>
        <result column="software_version" property="softwareVersion" jdbcType="VARCHAR"/>
        <result column="distribu_img_x" property="distribuImgX" jdbcType="DOUBLE"/>
        <result column="distribu_img_y" property="distribuImgY" jdbcType="DOUBLE"/>
        <result column="distribu_img_w" property="distribuImgW" jdbcType="DOUBLE"/>
        <result column="distribu_img_h" property="distribuImgH" jdbcType="DOUBLE"/>
        <result column="upgrade_progress" property="upgradeProgress" jdbcType="VARCHAR"/>
        <result column="upgrade_status" property="upgradeStatus" jdbcType="TINYINT"/>
        <result column="upload_progress" property="uploadProgress" jdbcType="VARCHAR"/>
        <result column="upload_status" property="uploadStatus" jdbcType="TINYINT"/>
        <result column="ethernet" property="ethernet" jdbcType="TINYINT"/>
        <result column="modem" property="modem" jdbcType="TINYINT"/>
        <result column="ram" property="ram" jdbcType="TINYINT"/>
        <result column="data" property="data" jdbcType="TINYINT"/>
        <result column="sim_card" property="simCard" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectDeviceOnline" resultType="map">
        select
        count(CASE online WHEN 1 THEN 1 END) AS online,
        count(CASE online WHEN 0 THEN 1 END) AS offline,
        count(1) as total
        from iot_device
    </select>

    <select id="selectDeviceAlarm" resultType="map">
        SELECT
        count(
        CASE WHEN online=1 and (ethernet=0 OR modem=0 OR ram=0 OR data=0 OR sim_card=0) THEN 1 END
        ) as total,
        count(CASE WHEN ethernet=0 and online=1 THEN 1 END) AS ethernet,
        count(CASE WHEN modem=0 and online=1 THEN 1 END ) AS modem,
        count(CASE WHEN ram=0 and online=1 THEN 1 END ) AS ram,
        count(CASE WHEN data=0 and online=1 THEN 1 END ) AS data,
        count(CASE WHEN sim_card=0 and online=1 THEN 1 END ) AS simCard
        FROM iot_device
    </select>

    <select id="selectDeviceDistList" resultType="map">
        select
        t.distribution_id as distributionId,
        t.distribution_name as distributionName,
        t.create_time as createTime,
        t.lat,
        t.lon,
		count(CASE online WHEN 1 THEN 1 END) AS online,
        count(CASE online WHEN 0 THEN 1 END) AS offline,
        "false" as showFlag
        from
        iot_device_distribution t
        left join iot_device t1 on t1.distribu_id=t.distribution_id
        group by t.distribution_id
    </select>

    <select id="selectDeviceCateOnline" resultType="map">
        select
        t1.category_name as name,
		count(CASE t1.online WHEN 1 THEN 1 END) AS `value`
        from
        iot_device t1
        group by t.category_id
    </select>

    <select id="selectDeviceCateOffline" resultType="map">
        select
        t1.category_name as name,
		count(CASE t1.online WHEN 0 THEN 1 END) AS `value`
        from
        iot_device t1
        group by t.category_id
    </select>
</mapper>
