<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opencloud.device.mapper.IotDeviceLogMapper">
    <resultMap id="BaseResultMap" type="com.opencloud.device.entity.IotDeviceLog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="log_id" property="logId" jdbcType="BIGINT"/>
        <result column="device_id" property="deviceId" jdbcType="BIGINT"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="file_url" property="fileUrl" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectLogPage" resultType="map">
        select
        t.device_name as deviceName,
        t.device_ip as deviceIp,
        t.device_sn as deviceSn,
        t.online,
        t1.log_id as logId,
        t1.file_size as fileSize,
        t1.file_name as fileName,
        t1.real_name as realName,
        t1.file_url as fileUrl,
        t1.create_time as createTime
        from iot_device t
        inner join iot_device_log t1 on t1.device_id=t.device_id
        <where>
        <if test="map.deviceName!=null or map.deviceSn!=null">
        and (
        <if test="map.deviceName!=null and map.deviceName!=''">
            t.device_name like CONCAT('%',#{map.deviceName})
            or
        </if>
        <if test="map.deviceSn!=null and map.deviceSn!=''">
            t.device_sn like  CONCAT('%',#{map.deviceSn})
            or
        </if>
        1=1
        )
        </if>
        <if test="map.online!=null and map.online!=''">
        and t.online = #{map.online}
        </if>
        </where>
        order by t1.create_time desc
    </select>

</mapper>
