<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weiqisen.tc.mapper.SystemTenantMenuMapper">
    <insert id="batchGrantTenantMenu">
        insert into system_tenant_menu(menu_id,tenant_id)
        select menu_id,#{tenantId}
        from system_menu
        <where>
            <if test="menuIds!=null and menuIds.size()>0">
                menu_id
                <foreach collection="menuIds" open="in (" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </insert>
</mapper>
