<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weiqisen.tc.mapper.SystemActionMapper">
    <resultMap id="BaseResultMap" type="com.weiqisen.tc.entity.SystemAction">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="action_id" property="actionId" jdbcType="BIGINT"/>
        <result column="action_code" property="actionCode" jdbcType="VARCHAR"/>
        <result column="action_name" property="actionName" jdbcType="VARCHAR"/>
        <result column="menu_id" property="menuId" jdbcType="BIGINT"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="action_desc" property="actionDesc" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_persist" property="isPersist" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectAuthorityByUser" resultType="com.weiqisen.tc.security.BaseAuthority">
        SELECT
            f.api_id as authority_id,
            f.api_code as authority,
            f.path as authorityPath,
            'user' as owner
        FROM
            system_user_role AS up
            INNER JOIN system_role AS a ON up.role_id = a.role_id
            inner join system_role_menu t on a.role_id=t.role_id
            inner join system_menu as b on t.menu_id=b.menu_id
            inner join system_action as c on c.menu_id=b.menu_id
            inner join system_action_api as d on c.action_id=d.action_id
            inner join system_api as f on f.api_id=d.api_id
        WHERE
            up.user_id = #{userId}
            and a.status = 1
            and a.role_type=#{roleType}
    </select>

    <delete id="deleteActionApi">
        delete from system_action_api where action_id = #{actionId}
    </delete>
</mapper>
